# Sublime
*.sublime-project
*.sublime-workspace
# Jekyll
_site
_drafts
.jekyll-metadata

#IntelliJ
.idea/*

#Node
node_modules/*

# Varunest.com
secret.js
css/main.css

#Mac OS
.DS_Store
.jekyll-cache/*
