extends ./base/layout

include ./base/components

block append head
    title Varun Verma
    meta(property="og:title" content="Varun Verma")
    meta(name="twitter:title" content="Varun Verma")
    meta(name="title" content="Varun Verma")

    meta(name="description" content="Varun Verma is a full stack developer and product designer based in Chandigarh.")
    meta(name="og:description" content="Varun Verma is a full stack developer and product designer based in Chandigarh.")
    meta(name="twitter:description" content="Varun Verma is a full stack developer and product designer based in Chandigarh.")

    meta(property="og:image" content="http://varunest.com/img/profile.jpg")
    meta(name="twitter:image" content="http://varunest.com/img/profile.jpg")

    meta(name="twitter:url" content="http://varunest.com")
    meta(name="og:url" content="http://varunest.com")

    meta(name="twitter:card" content="photo")
    meta(name="twitter:site" content="@varunest")

    meta(name="robots" content="index,follow")

    link(rel='stylesheet' href='https://unpkg.com/botui/build/botui.min.css')


block prepend body
    div(id='page-home' class='container-fluid bg-primary-1')
        div(class='container header')
            div(class='row')
                div(class='col-lg-4')
                    div(class='avatar-wrapper text-center')
                        a(href="/")
                            img(class='avatar' src='/img/profile.jpg')
                    h1(class='text-color-primary text-center intro-title') I'm <a href='/' class='name'>Varun</a>, I code and create things
                    p(class='text-color-secondary text-center subscription-text') Join my mailing list and get inspiration, updates and cool stuff.
                    +subscribeForm
                div(class='col-lg-8')
                    div(class='botui-app-container' id='chat-box')
                        bot-ui

block append script
    script(src='https://cdn.jsdelivr.net/vue/latest/vue.min.js')
    script(src='https://unpkg.com/botui/build/botui.min.js')
    script(src='/js/chat.js')