<div id="footer-background">
    <img class="wall-bg" src="/images/wall-background.svg"/>
    <img class="laptop" src="/images/laptop.svg"/>
    <img class="lights" src="/images/lights.svg"/>
    <img class="coffee" src="/images/coffee.svg"/>
</div>

<footer id="footer">
    <h2>Get in Touch</h2>
    <p>For work, business, discussions or to just say hi: reach out to <b><a href="mailto:hi@varunest.com">hi@varunest.com</a></b>.
    </p>

    <div class="contact-links">
        <a href="https://www.github.com/varunest" target="_blank">Github</a> |
        <a href="https://www.linkedin.com/in/varunest" target="_blank">LinkedIn</a> |
        <a href="https://www.twitter.com/varunest" target="_blank">Twitter</a> |
        <a href="https://www.reddit.com/user/varunest/" target="_blank">Reddit</a> |
        <a href="https://www.facebook.com/mailvarun93" target="_blank">Facebook</a>
    </div>
</footer>s