<div id="footer-background">
    <img class="wall-bg" src="/images/wall-background.svg"/>
    <img class="laptop" src="/images/laptop.svg"/>
    <img class="lights" src="/images/lights.svg"/>
    <img class="coffee" src="/images/coffee.svg"/>
</div>

<footer id="footer" class="fade">
    <h2>Get in Touch</h2>
    <p>For work, business, discussions or to just say hi: reach out to <b><a data-action="email-footer" href="mailto:hi@varunest.com">hi@varunest.com</a></b>.
    </p>

    <div class="contact-links">
        <a href="https://www.github.com/varunest" data-action="github-footer" target="_blank">Github</a> |
        <a href="https://www.linkedin.com/in/varunest" data-action="linkedin-footer" target="_blank">LinkedIn</a> |
        <a href="https://www.facebook.com/mailvarun93" data-action="facebook-footer" target="_blank">Facebook</a> |
        <a href="https://stackoverflow.com/users/5195477/varun-verma" data-action="stackoverflow-footer" target="_blank">Stack Overflow</a> |
        <a href="https://www.twitter.com/varunest" data-action="twitter-footer" target="_blank">Twitter</a>
    </div>
</footer>s