<header id="header" class="fade">
        <h1><a href="/">Varun Verma</a><span id="brand-comma">,</span></h1>
        <ul>
            <li><a id="nav-resume" href="/">Resume</a></li>
            <li><a id="nav-blog" href="/blog/">Blog</a></li>
            <li><a id="nav-contact">Contact</a></li>
        </ul>
        <ul class="social-links">
            <li><a href="https://github.com/varunest" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://linkedin.com/in/varunest" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://facebook.com/mailvarun93" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://instagram.com/varunest" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/varunest" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
</header>