<header id="header">
    <h1><a href="/">Varun Verma</a><span id="brand-comma">,</span></h1>
    <ul>
        <li><a id="nav-resume" data-action="resume" href="/resume.pdf">Resume</a></li>
        <li><a id="nav-blog" data-action="blog" href="/blog/">Blog</a></li>
        <li><a id="nav-contact" data-action="contact">Contact</a></li>
    </ul>
    <ul class="social-links">
        <li><a href="https://github.com/varunest" data-action="github-nav" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://linkedin.com/in/varunest" data-action="linkedin-nav" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://facebook.com/mailvarun93" data-action="facebook-nav" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://stackoverflow.com/users/5195477/varun-verma" data-action="stackoverflow-nav" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
        <li><a href="https://twitter.com/varunest" data-action="twitter-nav" target="_blank"><i class="fab fa-twitter"></i></a></li>
    </ul>
</header>