<!--Mailchimp subscription-->
<form class="subscription-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=varunest', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <input class="email" type="email" name="email" placeholder="email@email.com"/>
        <input type="hidden" value="varunest" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <input class="button" type="submit" value="Subscribe" />
</form>