/*
  Default theme for BotUI
*/

.botui-container {
  font-size: 14px;
  background-color: $colorPrimary2;
  font-family: $font-family;
  border-radius: 20px;
}

.botui-messages-container {
  padding: 10px 20px;
}

.botui-actions-container {
  padding: 10px 20px;
  text-align: right;
}

.botui-message {
  min-height: 30px;
}

.botui-message-content {
  padding: 7px 13px;
  border-radius: 15px;
  color: $textColorSecondaryInverse;
  background-color: $colorAccent2;

  &.human { // if human = true
    color: $textColorSecondary;
    background-color: $colorPrimary1;
  }

  &.text {
    line-height: 1.3;
  }
  &.loading {
    background-color: rgba(206, 206, 206, 0.50);
    line-height: 1.3;
    text-align: center;
  }
  &.embed {
    padding: 5px;
    border-radius: 5px;
  }
}

.botui-message-content-link {
  color: $colorAccent1;
}

.botui-actions-text-input {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 5px 7px;
  font-family: $font-family;
  background-color: transparent;
  color: $textColorPrimaryInverse;
  border-bottom: 1px solid $textColorPrimaryInverse;
}

.botui-actions-text-submit {
  color: #fff;
  width: 30px;
  padding: 5px;
  height: 30px;
  line-height: 1;
  border-radius: 50%;
  border: 1px solid $textColorPrimaryInverse;
  background: darken($textColorPrimaryInverse, 10%);
}

.botui-actions-buttons-button {
  border: 0;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 15px;
  border-radius: 4px;
  font-family: $font-family;
  background: $colorAccent1;
  box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, .25);
}

/*
  Animation of messages
  For details on how to change, see: https://vuejs.org/v2/guide/transitions.html
*/

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}

/*
  Animation of loading dots
*/
.dot {
  width: .5rem;
  height: .5rem;
  border-radius: .5rem;
  display: inline-block;
  background-color: $textColorPrimaryInverse;
  &:nth-last-child(1) {
    margin-left: .3rem;
    animation: loading .6s .3s linear infinite;
  }
  &:nth-last-child(2) {
    margin-left: .3rem;
    animation: loading .6s .2s linear infinite;
  }
  &:nth-last-child(3) {
    animation: loading .6s .1s linear infinite;
  }
}

@keyframes loading {
  0% {
    transform: translate(0, 0);
    background-color: lighten($textColorPrimaryInverse, 10%);
  }

  25% {
    transform: translate(0, -3px);
  }
  50% {
    transform: translate(0, 0px);
    background-color: lighten($textColorPrimaryInverse, 10%);
  }
  75% {
    transform: translate(0, 3px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
