#mce-EMAIL {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
  border: none;
  border-radius: 20px;
  padding: 10px 16px;
  font-family: $font-family;
}

#mc-embedded-subscribe {
  margin: auto;
  display: block;
  color: white;
  border: none;
  margin-top: 15px;
  border: 8px;
  font-family: $font-family;
  background: linear-gradient(90deg, $colorAccent1, #28c88c);
  box-shadow: 0 2px 0px 0 rgba(2, 16, 17, 0.5);
  font-size: 18px;
  font-weight: 500;
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: .4s all ease;

  &:hover {
    box-shadow: 0 2px 10px 0 rgba(1, 5, 6, 0.5);
    transition: .4s all ease;
    transform: translate(0, -3px);
  }

}
