#mce-EMAIL {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
  border: none;
  border-radius: 20px;
  padding: 10px 16px;
  font-family: $font-family;
}

#mc-embedded-subscribe {
  @include buttonPrimary;

  margin: auto;
  display: block;
  border: none;
  margin-top: 15px;
  border: 8px;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 500;
  padding: 7px 15px;
}
