mixin subscribeForm
    <!-- Begin MailChimp Signup Form -->

    <div id="mc_embed_signup">
    <form action="https://varunest.us16.list-manage.com/subscribe/post?u=5f9b1a3bf933355d668248d2e&amp;id=0a1d76497e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="YOUR EMAIL" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
    </form>
    </div>

    <!--End mc_embed_signup-->

mixin followOnTwitter
    <a href="https://twitter.com/varunest?ref_src=twsrc%5Etfw" class="twitter-follow-button fade" data-show-count="false">Follow @Varunest</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

mixin followOnFb
    <div class="fb-follow fade" data-href="https://www.facebook.com/mailvarun93" data-layout="button_count" data-size="small" data-show-faces="true"></div>

mixin fbSDK
    <div id="fb-root"></div>
    <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=130177111065205";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>