doctype html

html(prefix="og: http://ogp.me/ns#" lang=langCode)
    head
        block head
            //- Required meta tags always come first
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(charset="UTF-8")
            meta(name="revisit-after" content="7 days")
            meta(name="author" content="Varun Verma")
            meta(property="og:site_name" content="Varun Verma")

            link(rel="icon" href="/img/favicon.png" type="image/png")
            link(rel="shortcut icon" type="image/png" href="/img/favicon.png")

            link(rel='stylesheet' href='/css/main.css')

            //Global Site Tag (gtag.js) - Google Analytics
            script(async src="https://www.googletagmanager.com/gtag/js?id=UA-107843444-1")
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', 'UA-107843444-1');

            // Google Tag Manager
            script.
                (function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({
                        'gtm.start': new Date().getTime(), event: 'gtm.js'
                    });
                    var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-PQGKCJ8');


    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PQGKCJ8" height="0" width="0" style="display:none;visibility:hidden")

        block body

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous")
        script(src='/js/main.js')

        block script