@import "variables";

.bg-primary-1 {
  background-color: $colorPrimary1;
}

.bg-primary-2 {
  background-color: $colorPrimary2;
}

.bg-accent-1 {
  background-color: $colorAccent1;
}

.bg-accent-2 {
  background-color: $colorAccent2;
}

.primary-1 {
  color: $colorPrimary1;
}

.primary-2 {
  color: $colorPrimary2;
}

.accent-1 {
  color: $colorAccent1;
}

.accent-2 {
  color: $colorAccent2;
}

