@import "variables";
@import "mixins";

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  background: $colorPrimary1;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.bg-primary-1 {
  background-color: $colorPrimary1;
}

.bg-primary-2 {
  background-color: $colorPrimary2;
}

.bg-accent-1 {
  background-color: $colorAccent1;
}

.bg-accent-2 {
  background-color: $colorAccent2;
}

.primary-1 {
  color: $colorPrimary1;
}

.primary-2 {
  color: $colorPrimary2;
}

.accent-1 {
  color: $colorAccent1;
}

.accent-2 {
  color: $colorAccent2;
}

.text-color-primary {
  color: $textColorPrimary;
}

.text-color-secondary {
  color: $textColorSecondary;
}

.fade {
  opacity: 0;
}

.fade_ani {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 0.5s;
}

@include keyframes(fade) {
  0% {
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
  }
}

