// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin buttonPrimary {
  background: linear-gradient(90deg, $colorAccent1, #28c88c);
  box-shadow: 0 2px 0px 0 rgba(2, 16, 17, 0.5);
  transition: .4s all ease;
  border-radius: 4px;
  cursor: pointer;
  color: white;

  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.9);
    transition: .4s all ease;
    transform: translate(0, -2px);
  }
}