#page-home {
  min-height: 100vh;

  .header {
    .avatar-wrapper {
      margin-top: 60px;
      margin-bottom: 40px;

      .avatar {
        width: 180px;
        height: 180px;
        border-radius: 200px;
        box-shadow: 0px 30px 60px -20px rgba(0, 0, 0, 0.37);
      }
    }

    .intro-title {
      .name {
        text-decoration: none;
        color: $textColorPrimary;

        &:hover {
          color: $textColorSecondary;
          border-bottom: 1px dotted #cecece;
        }
      }
    }

    #chat-box {
      height: 100vh;
    }
  }

}