#page-home {
  min-height: 100vh;
  position: relative;

  // Follow Buttons
  .twitter-follow-button {
    position: absolute !important;
    z-index: 1;
    right: 20px;
    top: 20px;
    font-size: 12px;
    color: $colorPrimary1;
  }

  .fb-follow{
    position: absolute !important;
    z-index: 1;
    right: 20px;
    top:42px;

  }

  // Header Section
  .header {
    .avatar-wrapper {
      margin-top: 60px;
      margin-bottom: 40px;

      .avatar {
        width: 180px;
        height: 180px;
        border-radius: 200px;
        box-shadow: 0px 30px 60px -20px rgba(0, 0, 0, 0.37);
      }
    }

    .intro-title {
      margin-bottom: 40px;
      .name {
        text-decoration: none;
        color: $textColorPrimary;

        &:hover {
          color: $textColorSecondary;
          border-bottom: 1px dotted #cecece;
        }
      }
    }

    .subscription-text {
      margin-bottom: 25px;
    }

    #chat-box {
      margin-top: 5vh;
      height: 90vh;
      min-height: 612px;
    }
  }

}