.blog-index {
  .left {

    h2 {
      padding-bottom: 23px;
      margin-top: 35px;
      border-bottom: 2px solid $lightestGray;
      font-size: 3em;
      margin-bottom: 0px;

      @media PHONE_AND_TABLET {
        font-size: 2em;
        text-align: center;
      }
    }

    .listings {
      list-style-type none;
      padding-left: 0px;
      margin-top: 0px;

      h3 {
        margin-bottom: 5px;
        display: inline-block;
        line-height: 1.3em;

        a {
          span {
            color: $darkerGray;
          }
        }

        img {
          margin: 2px 5px 3px 2px;
          display: inline-block;
          position: relative;
          width: 22px;
          top: 5px;

          @media SMALL_DESKTOP {
            width: 20px;
          }

          @media PHONE_AND_TABLET {
            width: 18px;
          }
        }
      }

      .continue-reading {
        display:block;
        &:after {
          content: "≫";
          position: absolute;
          margin-left: 3px;
        }
      }

      li {
        margin-top: 5px;

        time {
          color: $lightGray;
          display:block;
          margin: 0;
        }

        .tags {
          display: inline-block;
          list-style: none;
          padding-left: 0px;

          li {
            display: inline-block;
          }
        }
      }

    }
  }

  .right {
    overflow-y: hidden;
    h2 {
      padding-bottom: 20px;
      border-bottom: 2px solid $lightestGray;
    }
    .twitter-feed {
      min-height: 500px;
    }

    .copy {
      border-radius: 4px;
      padding: 5px 10px;
      border: solid 1px #cbcbcb;
      display: flex;
      background: aliceblue;
      font-size: 0.8em;

      #main-image {
        float: left;
        margin-right: 20px;
        border-radius: 50% !important;
        max-width: 100px;
      }
    }
  }
}