.blog-index {
  .left {

    h2 {
      padding-bottom: 23px;
      margin-top: 35px;
      border-bottom: 2px solid $lightestGray;

      img {
        margin: 0;
        display: inline-block;
        position: relative;
        width: 30px;
        margin-right: 5px;
        top: 5px;
      }
    }

    .listings {
      list-style-type none;
      padding-left: 0px;
      margin-top: 0px;

      h3 {
        border-bottom: 1px dotted $pink;
        margin-bottom: 5px;
        display: inline-block;
      }

      li {
        margin-top: 5px;

        a {
        }

        time {
          font-style: italic;
          display:block;
          margin: 0;
        }
      }

    }

  }

  .right {
    h2 {
      padding-bottom: 20px;
      border-bottom: 2px solid $lightestGray;
    }
    .twitter-feed {
      min-height: 500px;
    }
  }
}