.post {
	position: relative;
	z-index: 10;

	.byline {
		color: $lightGray;
		font-size: 0.9em;
		line-height: 1.6em;

		@media PHONE_AND_TABLET {
			margin-top: 15px;
		}
	}

	// Add bullets between byline items
	//.byline > *:not(:last-child):after {
  //		content: " \2022 ";
	//	padding: 0 0.4em;
	//}

	// Inline the tag list
	.tags {
		margin: 0;
		padding: 0;
		display: inline-block;
		list-style-type: none;
	}

	.tags li {
		display: inline;
	}

	// Add commas between tags
	.tags li:not(:last-child):after {
		content: ", ";
	}

	// Make tag links subtle gray
	.byline a {
		{$link} {
			color: $lightGray;
		}
		{$focus} {
			color: $pink;
		}
	}

	.meta {
		margin-top: 50px;
		h3 {
			border-bottom: 2px solid $lightestGray;
			padding-bottom: 15px;
			margin-bottom: 0px;
		}

		.rss {
			float: right;
		}

	}

	.copy {
		margin-top: 2em;
		.avatar {
			float: right;

			@media PHONE_AND_TABLET {
				float: none;
			}
			img {
				margin: 0 0 15px 15px;
				showcaseImage();

				@media PHONE_AND_TABLET {
					margin: 0px auto;
				}
			}
		}

		input {
			display: inline;
			font-size: 14px;
		}
		[type="email"] {
			margin-left: 10px;
			width: 150px;
		}

		iframe {
			margin: 0 0 30px 0;
			vertical-align: top;
		}
	}

	#next-prev-container {
		display: flow-root;
		padding: 0px 20px;
		clear: both;

		@media PHONE_AND_TABLET {
			display: none;
		}

		a.prev {
		float: left;

			&:before {
				content: "≪";
				position: absolute;
				left: 3px;
			}
		}

		a.next {
			float: right;
			text-align: right;

			&:after {
				content: "≫";
				position: absolute;
				right: 3px;
			}
		}

		a.prev, a.next {
			width: 45%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			font-weight: bold;
			//text-decoration: none;
			color: $gray;

			&:hover {
				color: $pink;
			}
		}
	}

	.post-header {
		padding-bottom: 20px;
		margin-bottom: 30px;
		border-bottom: 2px solid $lightestGray;

		@media PHONE_AND_TABLET {
			text-align: center;
		}
	}

	#main-content, footer {
		max-width: $postWidth;
		margin: auto;

		h1 {
			a {
				// text-decoration: underline !important;
				// text-decoration-style: dashed !important;
				// text-decoration-color: $lightestGray !important;
				color: $lightestGray !important;

				span {
					color: $darkerGray;
				}
			}

			font-size: 3em;

			@media SMALL_DESKTOP{
				font-size: 2em;
			}

			@media PHONE_AND_TABLET {
				font-size: 2em;
			}
		}

		h2 {
			font-size: 1.8em;

			@media SMALL_DESKTOP {
				font-size: 1.5em;
			}

			@media PHONE_AND_TABLET {
				font-size: 1.5em;
			}
		}

		@media SMALL_DESKTOP {
			max-width: $postWidthSmall;
		}

		@media PHONE_AND_TABLET {
			max-width: $postWidth;
		}
	}

	#footer {
		h2 {
			padding-top: 20px;

			@media SMALL_DESKTOP {
				padding-top: 80px;
			}

			@media TABLET {
				padding-top: 50px;
			}
		}
	}
}