<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>

    <!--

       Varun Verma
       https://varunest.com


       Not all those who wander are lost.
                                       - "The lord of the rings" by J.R.R Tolkien
    -->

    <meta name="viewport" content="width=device-width, intitial-scale=1"/>

    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}"/>

    <meta name="description" content="{{ page.meta_desc}}"/>
    <meta property="og:description" content="{{ page.meta_desc}}"/>

    <meta property="og:type" content="article"/>
    {% if page.tags %}{% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag | replace: '-', ' ' }}"/>
    {% endfor %}{% endif %}
    <meta property="og:image" content="https://varunest.com/images/varun.jpg"/>

    <meta property="article:author" content="https://varunest.com/about/"/>
    <meta property="fb:app_id" content="130177111065205"/>

    <!--TODO : // add payment option-->
    <!--<link rel="payment" href="https://patreon.com/varunest" title="Support my Patreon (varunest)"/>-->

    {% if page.class == "home" %}
    <link rel="canonical" href="https://varunest.com/"/>
    <meta property="og:url" content="https://varunest.com/"/>
    {% else %}
    <link rel="canonical" href="https://varunest.com{{ page.url }}"/>
    <meta property="og:url" content="https://varunest.com{{ page.url }}"/>
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="mask-icon" href="/apple-touch-icon.png" color="#ea391b">
    <meta name="apple-mobile-web-app-title" content="Varunest.com">
    <meta name="application-name" content="varunest.com">
    <meta name="theme-color" content="#000000">


    <link rel="alternate" type="application/atom+xml" title="Varunest.com" href="https://varunest.com/atom.xml"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://use.typekit.net/lht8iut.css">
    {% if page.class == "home" %}
    <link rel="stylesheet" href="/css/botui.min.css"/>
    <link rel="stylesheet" href="/css/botui-theme.css"/>
    {% endif %}
</head>

<body class="{{ page.class }}">
<div id="container">

    <header id="header" class="fade">
        <h1><a href="/">Varun Verma</a><span id="brand-comma">,</span></h1>
        <ul>
            <li><a href="/">Resume</a></li>
            <li><a href="/">Blog</a></li>
            <li><a id="nav-contact">Contact</a></li>
        </ul>
        <ul class="social-links">
            <li><a href="https://github.com/varunest" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://linkedin.com/in/varunest" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://facebook.com/mailvarun93" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://instagram.com/varunest" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/varunest" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </header>

    <section class="content clearfix">
        {{ content }}
    </section>

    <div id="footer-background">
        <img class="wall-bg" src="/images/wall-background.svg"/>
        <img class="laptop" src="/images/laptop.svg"/>
        <img class="lights" src="/images/lights.svg"/>
        <img class="coffee" src="/images/coffee.svg"/>
    </div>

    <footer id="footer">
        <h1>Get in Touch</h1>
        <p>For work, business, discussions or to just say hi: reach out to <b>hi@varunest.com</b>.</p>

        <div class="contact-links">
            <a href="https://www.github.com/varunest" target="_blank">Github</a> |
            <a href="https://www.linkedin.com/in/varunest" target="_blank">LinkedIn</a> |
            <a href="https://www.twitter.com/varunest" target="_blank">Twitter</a> |
            <a href="https://www.reddit.com/user/varunest/" target="_blank">Reddit</a> |
            <a href="https://www.facebook.com/mailvarun93" target="_blank">Facebook</a>
        </div>
    </footer>
</div>

<script src="/client/bundle.js"></script>

{% if page.demo %}
<!-- Page-specific demo code -->
{{ page.demo }}
{% endif %}

{% if page.class == "home" %}
<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
{% endif %}

<!-- Google Analytics -->
<script>
    window.GoogleAnalyticsObject = 'ga'

    function ga() {
        window.ga.q.push(arguments)
    }

    window.ga.q = window.ga.q || []
    window.ga.l = Date.now()
    window.ga('create', 'UA-107843444-1', 'auto')
    window.ga('send', 'pageview')
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>

<!-- StatCounter -->
<!--<script>-->
<!--var sc_project = 4429957-->
<!--var sc_invisible = 1-->
<!--var sc_security = 'eb342ceb'-->
<!--var sc_https = 1-->
<!--</script>-->
<!--<script async src="//secure.statcounter.com/counter/counter.js"></script>-->
<!--<noscript>-->
<!--<img height="1" width="1" style="display:none" alt="" src="//c.statcounter.com/4429957/0/eb342ceb/1/">-->
<!--</noscript>-->

</body>

</html>